@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your ToDo items are listed in <a asp-action="Index" asp-controller="ToDo">ToDos</a>.</p>
</div>
