@using ToDo.Web.Models.ToDo
@model UpdateViewModel
@{
    ViewData["Title"] = $"Edit {Model.Name}";
}

<h1 class="display-4">Edit @Model.Name</h1>
<form asp-action="@nameof(ToDo.Web.Controllers.ToDoController.Update)">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
